*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: var(--header-height);
}

body {
    background: var(--pirmary-background-color);
    color: white;
}

.header {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    padding-top : 20px;
    width: 100%;
    height: var(--header-height);
    display: flex;
    align-items: center;
    z-index: 100;
    transition: .5s;
}

.header.sticky {
    background-color: var(--pirmary-background-color);
    box-shadow: 0 10px 10px rgb(0, 0, 0, 0.1);
}

.logo {
    text-decoration: none;
    color: var(--white-color);
    font-size: 25px;
    font-weight: 600;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}

.navbar {
    /* display: flex;
    flex-direction: row; */
    padding-left: 100px;
}

.navbar > a{
    display:inline-block;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: var(--white-color);
    margin: 0 20px;
    transition: 0.3s; /*kiểm soát tốc độ hoạt ảnh khi thay đổi thuộc tính CSS. Thay vì thay đổi thuộc tính có 
    hiệu lực ngay lập tức, bạn có thể khiến các thay đổi trong thuộc tính diễn ra trong một khoảng thời gian.*/
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.navbar > a:hover{
    color: var(--primary-color);
}

.tab-item.active {
    color: var(--primary-color);
}

.tab-pane.active {
    display: block;
}

.app_body {
    margin-top: var(--header-height);
}

.home {
    margin-top: calc( var(--header-height) * 1.5);
    width: 100%;
    height: calc(100% - var(--header-height));
    display: none;
}

.home-content {
    padding: 35px 0;
}

.home-content h3:nth-of-type(2) {
    margin-bottom: 30px;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: .7s;
}

.home-content h3 {
    font-size: 32px;
    font-weight: 700;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: .7s;
}

.home-content h3 span {
    color: var(--primary-color);
}

.youtubeChannel {
    display:inline-block;
    text-decoration: none;
    color: #06899d;
    font-weight: 600;
}

.home-content h1 {
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;
}

.home-content p {
    font-size: 16px;
    margin-bottom: 10px;
    opacity: 0;
    animation: slideLeft  1s ease forwards;
    animation-delay: 1s;
}

.home-img img{
    max-width: 450px;
    margin-right: -20px;
    opacity: 0;
    animation: zoomIn 1s ease forwards, floatImage 4s ease-in-out infinite;
    animation-delay: 2s, 3s;
}

.home-img {
    position: relative;
    top: -170px;
    margin-left: 50px;
    /* margin-bottom: 1000px; */
    background-color: transparent;
    margin-top: var(--header-height);
}

.social-media {
    display: flex;
    flex-direction: row;
}

.social-media a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: 2px solid var(--primary-color);
    border-radius: 50%;
    font-size: 20px;
    color: var(--primary-color);
    text-decoration: none;
    margin: 30px 15px 30px 0;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.social-media a:hover {
    background: var(--primary-color);
    color:#1f242d;
    box-shadow: 0 0 20px var(--primary-color);
}

.btn {
    display: inline-block;
    border: 2px solid var(--primary-color);
    border-radius: 40px;
    margin-top: 20px;
    width: fit-content;
    padding: 10px 30px;
    cursor: pointer;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 10px var(--primary-color);
}

.btn a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
}

.btn-readmore,
.btn-download {
    background-color: var(--primary-color);
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color:#1f242d;
    letter-spacing: 1px;

}

.btn-download a{
    color:#1f242d;
}

.btn-readmore:hover
.btn-download:hover {
    /* box-shadow: 0 0 10px var(--primary-color); */
}

.btn-hireMe {
    position: relative;
    width: 180px;
    height: 48px;
    z-index: 1;
    margin-left: 30px;
    border: none;
}

.btn-hireMe a{
    color: var(--white-color);
}

.btn-hireMe::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    inset: 0;
    background: linear-gradient(45deg, rgb(8, 62, 99), #3cf, rgb(6, 44, 75))    ;
    z-index: -1;
    border-radius: 40px;
    border-width: 1px;
}

.btn-hireMe::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    inset: 0;
    background: linear-gradient(45deg, rgb(8, 62, 99), #3cf, rgb(6, 44, 75))    ;
    z-index: -1;
    border-radius: 40px;
    background-size: 200%;
    transition: .5s ease; /*Chuyển động */
    border-width: 1px;
}

.btn-hireMe:hover::after{ 
    background-position: 100% 0;
}

.services {
    margin-top: var(--header-height);
    justify-content: center;
    align-items: center;
    text-align: center;
}

.services-heading {
    text-align: center;
    margin-bottom: 80px;
    font-size: 40px;
    transition: .5s ease;
}

.services-heading  span {
    color: var(--primary-color);
}

.services-content {
    margin-bottom: 135px;
}

.services-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    background-color: var(--white-color);
    color: var(--pirmary-background-color);
    width: auto;
    margin-left: 5px;
    border-top: 7px solid var(--primary-color);
    border-bottom: 7px solid var(--primary-color);
    cursor: default;
    transition: .5s ease;
}

.services-card:hover {
    box-shadow: 0 5px 1px 1px var(--white-color);
    transform: scale(1.02);
}

.services-card:hover .services-card_heading {
    color: var(--primary-color);
}

.services-card_icon {
    color: var(--primary-color);
    font-size: 50px;
    margin-top: 20px;
    width: 100%;
}

.services-card_heading {
    margin: 5px;
    font-size: 25px;
}

.services-card_text {
    margin: 10px 25px 30px;
    text-align: center;
    font-size: 16px;
}

.btn-readmore {
    text-align: center;
    margin-bottom: 50px;
    /* background-color: var(--primary-color);
    color: var(--pirmary-background-color); 
    font-weight: 300;
    font-size: 15px; */
    color: var(--white-color);
    box-shadow: 0 0 0 var(--primary-color);
}

.btn-readmore:hover{
    background-color: transparent;
    color:var(--pirmary-background-color)
}



.portfolio {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
  
}
.portfolio-heading {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
    font-size: 40px;
    transition: .5s ease;
    
}

.portfolio-heading  span {
    color: var(--primary-color);
}

.portfolio-content {

}

.portfolio-card {
    position: relative;
    border-radius: 30px;
    color: var(--white-color);
    margin-left: 10px;
    margin-bottom: 35px;
    cursor: default;
    width: 100%; /*Kế thừa width của col trong grid, grid giúp tự chia đều width của các element trong 1 row
    thật ra không cần set vì nó sẽ tự động kế thừa width của thẻ chứa nó*/
}

.portfolio-card img {
    width: 100%; /*Kế thừa width từ portfolio-card*/
    height: 100%;
    border-radius: 30px;
    transition: .5s ease;
}


.portfolio-card_content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgb(0, 0, 0, 0.1), var(--primary-color));
    border-radius: 30px;
    opacity: 0;
    width: 100%;
}

.portfolio-card:hover .portfolio-card_content{
    opacity: 1;
    transition: .5s ease;
}

.portfolio-card_icon {
    color: var(--primary-color);
    font-size: 50px;
    margin-top: 20px;
}

.portfolio-card_heading {
    margin-top: 50px;
    margin-bottom: 10px ;
    margin-left: 10px; 
    margin-right: 10px; 
    font-size: 25px;
}

.portfolio-card_text {
    margin: 10px 70px 10px;
    text-align: center;
    font-size: 16px;
}

.btn-portfolio {
    border-radius: 50%;
    margin-bottom: 20px;
    display: block;
    width: 40px;    
    height: 40px;  
    border: none;  
    cursor: pointer;
}   

